@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
  /* COLORS */
  --background: rgba(255, 255, 255, 0.3);
  --dark-blue: #092032;
  --dark-primary: #e04122;
  --gradient: rgba(9, 32, 50, 0.4);
  --gradient2: rgba(9, 32, 50, 0.7);
  --light: #516171;
  --opacity-primary: rgba(255, 77, 41, 0.9);
  --primary: #0e1150;
  --white: #ffffff;

  /* FONT WEIGHT  */
  --fw-bold: 500;
  --fw-extra-bold: 700;

  /* box shadow */
  --box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
}

body {
  font-family: 'Barlow', 'sans-serif';
  line-height: 1.7;
  color: var(--light);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  height: 10px;
  background: var(--dark-blue);
}

.custom-height {
  min-height: 60vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--dark-blue);
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: var(--fw-bold);
}
a:hover {
  color: var(--primary);
}

img {
  width: 100%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
}

.intro {
  margin-bottom: 40px;
}

.intro h6 {
  font-weight: 400;
  color: var(--primary);
}

intro p {
  max-width: 500px;
  margin: auto;
}
/* NAVBAR */
.top-nav {
  background-color: var(--primary);
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
  color: var(--white);
}

.top-nav i,
.top-nav span i {
  vertical-align: middle;
}

.social-links a {
  width: 34px;
  height: 34px;
  background-color: var(--background);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 20px;
  border-radius: 100%;
}

.social-links a:hover {
  background-color: var(--white);
  color: var(--primary);
}

.navbar {
  box-shadow: var(--box-shadow);
}

.nav-link{
  font-weight:bold;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary) !important;
  
}

.navbar-brand {
  font-weight: var(--fw-extra-bold);
  font-size: 26px;
  color: var(--dark-blue);
}

.navbar-brand span {
  color: var(--primary);
}

/* button */
.btn {
  padding: 9px 24px;
  font-weight: var(--fw-bold);
}

.btn-brand {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.btn-brand:hover {
  background-color: var(--dark-primary);
  color: var(--white);
}

/* SLIDER */
#hero-slider h1 {
  font-weight: 700 !important;
}

.slide0 {
  /*background: linear-gradient(var(--gradient), var(--gradient)),
    url(../images/slider/1.JPG);*/
  background: url(./images/slider/1.jpg);
}
.slide1 {
  background: url(./images/slider/2.jpg);
}
.slide2 {
  background: url(./images/slider/3.jpg);
}
.slide3 {
  background: url(./images/slider/4.jpg);
}

.slide4 {
  background: url(./images/slider/5.jpg);
}

.slide5 {
  background: url(./images/slider/6.jpg);
}


/* OWL CAROUSEL */
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-items: center;
  margin-top: -30px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  font-weight: var(--fw-extra-bold) !important;
  font-size: 12px !important;
  border-radius: 100px !important;
  color: var(--white) !important;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}

.owl-next:hover,
.owl-prev:hover {
  background-color: var(--primary) !important;
}

.owl-dot span {
  background-color: var(--dark-blue) !important;
}
.owl-dot.active span {
  background-color: var(--primary) !important;
}

/* INFO BOX */
.info-box {
  display: flex;
  align-items: center;
}
.info-box img {
  width: 90px;
  margin-right: 24px;
}

/* MILESTONE */
#milestone {
  background: linear-gradient(rgb(31, 48, 93), rgb(70, 102, 183)), url(../images/bg_banner2.jpg);
}
#milestone .display-4,
#milestone p {
  color: var(--white);
}
#milestone .display-4 {
  font-weight: 500;
}

/*  SERVICES */
.service-box {
  padding: 32px;
  box-shadow: var(--box-shadow);
  text-align: center;
}
.service-box img {
  width: unset;
}
.service-box h5 {
  margin-top: 24px;
  margin-bottom: 12px;
}


/*  NEWS */
.news-box {
  padding: 12px;
  box-shadow: var(--box-shadow);
  text-align: center;
  background:linear-gradient(rgb(252, 252, 230), rgb(250, 250, 216));
}
.news-box img {
  width: unset;
}
.news-box h5 {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* PROJECTS  */
#project-slider .owl-next,
#project-slider .owl-prev {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

#project-slider .owl-next:hover,
#project-slider .owl-prev:hover {
  background-color: var(--primary) !important;
}
.project {
  position: relative;
}
.project .overlay {
  background: linear-gradient(
    to bottom,
    rgba(9, 32, 50, 0),
    rgba(9, 32, 50, 0.8)
  );
  position: absolute;
  width: 100%;
  height: 240px;
  bottom: 0;
  left: 0;
}
.project .content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 32px;
}
.project h1,
.project h6 {
  color: var(--white);
}
.project h6 {
  font-size: 14px;
  letter-spacing: 1px;
}
.project h6::before {
  content: '';
  height: 2px;
  width: 24px;
  display: inline-block;
  background-color: var(--primary);
  vertical-align: middle;
  margin-right: 12px;
}

/* TEAM */
.team-member {
  text-align: center;
}
.team-member .image-wrapper {
  position: relative;
  overflow: hidden;
}
.team-member .overlay {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 77, 41, 0.6);
  transition: all 0.4s ease;
  opacity: 0;
}
.team-member .social-links {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  transition: all 0.4s ease;
  opacity: 0;
}
.team-member:hover .overlay {
  opacity: 1;
  top: 0;
}
.team-member:hover .social-links {
  opacity: 1;
  top: 50%;
}
.team-member h5 {
  margin-top: 24px;
}

/* REVIEW */
#reviews {
  background: linear-gradient(var(--gradient2), var(--gradient2)),
    url(./images/slider/1.jpg);
}
.review {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.review img {
  width: 80px !important;
  border-radius: 100px;
  margin: auto;
}
.review h4,
.review p {
  color: var(--white);
}
.review h4 {
  margin-top: 16px;
}
.review small {
  color: var(--primary);
}
.review p {
  margin-top: 20px;
}

/* BLOG POST */
.blog-post {
  position: relative;
}
.blog-post .tag {
  padding: 4px 12px 0;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 100px;
  top: 20px;
  left: 20px;
  position: absolute;
}
.blog-post img {
  margin-bottom: 12px;
}
.blog-post h4 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.blog-post a {
  font-weight: 700;
}
.blog-post small {
  color: var(--primary);
  text-decoration: underline;
  text-transform: uppercase;
}

/* FOOTER */
footer {
  background: linear-gradient(var(--gradient), var(--gradient)),
    url(./images/slider/4.jpg);
  /*padding-top: 80px;*/
  padding-bottom: 20px;
  color: var(--white);
  text-align: center;
  background-size: cover;
}
footer .navbar-brand {
  color: var(--white);
  margin-bottom: 24px;
  display: inline-block;
}
.footer-top {
  margin-bottom: 40px;
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 20px;
}
footer .social-links a {
  margin-left: 10px;
  margin-right: 10px;
}

/* FORM */
.form-control:focus {
  box-shadow: none;
  border-color: var(--primary);
}


    .responsive-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 6.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.announce{
  float: left;

  color:#1f305a;
  z-index: 99999;
  padding: 4px 9px;
  line-height: 12px;
  height: 24px;
}

.marquee-parent {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 30px;
  color:#1f305a;
}
.marquee-child {
  display: block;
  width: 147px;
  /* width of your text div */
  height: 30px;
  /* height of your text div */
  position: absolute;
  animation: marquee 5s linear infinite; /* change 5s value to your desired speed */
  color:#1f305a;
}
.marquee-child:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -147px /* same as your text width */
  }
}



@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee-r {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes marquee-r {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes rollCage {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(5turn);
  }
}
@keyframes rollCage {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(5turn);
  }
}

.marquee {
  border-bottom: 1px solid #efefef;
  color:#1f305a;
  font-size: 18px;
  height: 48px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.marquee img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 150px;
}

.track {
  height: 100%;
  overflow: hidden;
  padding: 1rem 0;
  position: absolute;
  transition: background-color 300ms ease, color 300ms ease;
  white-space: nowrap;
}
.track .text {
  -webkit-animation: marquee 150000ms linear infinite;
          animation: marquee 150000ms linear infinite;
  align-items: center;
  display: inline-flex;
  will-change: transform;
}

.track .text:hover
{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}


.track .text.-r {
  -webkit-animation-name: marquee-r;
          animation-name: marquee-r;
}
.track .text.-twox {
  -webkit-animation-duration: 20000ms;
          animation-duration: 20000ms;
}
.track:hover {
  color: #0a1c48;
}